﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.TemaIndexModel

@{
    ViewBag.Title = "Index";
    var x = 1;
    for (var i = 10; i > 0; i--)
    {
        x *= i;
    }
}
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Tema</h3>
                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Nivel</th>
                        </tr>
                    @foreach (var tema in Model.Temas)
                    {
                        <tr>
                            <td>@Model.Temas.IndexOf(tema)</td>
                            <td>@tema.Nombre</td>
                            <td>@tema.Nivel</td>

                            <td>
                                <a href="/Tema/edit/@Model.Temas.IndexOf(tema)" title="Editar" class="btn btn-primary">
                                     Editar
                                </a>
                                <a href="/Tema/delete/@Model.Temas.IndexOf(tema)" title="borrar" class="btn btn-danger">
                                    Borrar
                                </a>
                            </td>
                        </tr>

                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/Tema/new" title="Nuevo" class="btn btn-primary">
                                 Nuevo
                            </a>
                        </td>
                    </tr>
                      
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}

