﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Proyectos</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Lineas de Producción</span></a></li>
</ul>

